.profile-page {

    &__profile-card{
        background-color: $color-secondary;
        border-radius: $primary-round-border;
    }
    &__img {
        width: 10rem;
        height: 10rem;
        object-fit: cover;
        border-radius: 100%;
    }
    &__img-container {
        @include flex-col;
        align-items: center;
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
    &__img-title {
        font-size: 2rem;
    }

    &__details-container{
        display: flex;
        justify-content: center;
    }
    &__details{
        display:flex;
        flex-direction: column;
        padding: 2rem;
    }

    &__details-entry{
        h3{
            color:$font-light-secondary;
            margin-right: 2rem;
        }
        p{
            font-size: 1.4rem;
            margin-right: auto;
        }
    }
}