$color-primary: #030318;
$color-primary-2: #070725;
$color-secondary: #2c2c48;
$color-secondary-2: #58588b;
$color-third: #f7f8fd;

$color-button: #e82922;
$font-light: #ffffff;
$font-light-secondary: #969696; 
$font-dark: #01010a;

$color-success: rgb(58, 179, 74);