$color-primary: #030318;
$color-primary-2: #07072552;
$color-secondary: #2c2c4856;
$color-secondary-2: #58588b54;
$color-third: #f7f8fd;

$color-tertiary-2: #270908;
$color-tertiary: #e82922;
$input-color: #2c2c48;
$font-light: #ffffff;
$font-light-secondary: #969696; 
$font-dark: #01010a;

$color-4: #991e1d;

$color-success: rgb(58, 179, 74);