.searchbar {
    display: flex;
    background-color: $color-primary-2;
    height:1rem;
    border-radius: $primary-round-border;
    padding:$primary-padding;
    margin-top: $primary-margin;
    margin-bottom: $primary-margin;
    transition: box-shadow 0.3s ease-in-out;

    &__search{
        background-color: inherit;
        border:none;
        width:calc(100% - 2rem - $primary-padding - $primary-padding);
        color: $font-light-secondary;
        font-size: 1.2rem;
        &:focus {
            outline: none; 
        }
    }
    &__icon {
        background-color: inherit;
        color:$font-light;
        margin-left: auto;
        width:2rem;
        border:none
    }


}