.overflow-container {
    &__list {
        list-style-type: none;
        display:flex;
        flex-wrap: nowrap ;
        max-width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        margin: 0px;
        padding: 0px;
        li {
           
            transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
            width: calc(100% - $primary-margin - $primary-margin);
            display:block;
            margin: $primary-margin;
            @media (min-width:$media-tablet ){

                width: calc(50% - $primary-margin - $primary-margin);
            
            }
            
            @media (min-width:$media-pc){
        
                width: calc(33.33% - $primary-margin - $primary-margin);
            
            }
        }
    } 
}